<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Iut Montpellier-Sete", "http://www.iutmontp.univ-montp2.fr/" %></li>
      <li><%= link_to "UM2", "http://www.univ-montp2.fr/" %></li>
      <li><%= link_to "ENT", "http://portail.univ-montp2.fr/"%></li>
      <li><%= link_to "Intranet", "http://iutdepinfo.iutmontp.univ-montp2.fr/"%></li>
  </nav>
</footer>